<h1>Sample arrow breadcrumb</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div id="sub-nav-container">
  <ul id="sub-nav2">
    <li class="breadcrumb first"><a href="">1. Request</a><span class="png-fix"></span></li>
    <li class="breadcrumb"><a href="">2. Roles/Applications </a><span class="png-fix"></span></li>
    <li class="breadcrumb png-fix last"><a href="">3. Users</a></li>
    <li class="active"><a href="">4. Attributes</a></li>
    <li><a href="">5. Submit</a></li>
    <li id="rightlink" class="png-fix"><a href="">Some other link</a></li> <!-- id="subscribe"-->
  </ul>
</div>


<div>
  <ul>
    <li>div.sub-nav-container</li>
    <li>ul.sub-nav2</li>
    <li>li.breadcrumb</li>
    <li>li.active</li>
    <li>li.png-fix</li>
    <li>li.last</li>
  </ul>
</div>